<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="playwithme.model.BoardMapper">
	
	

<!-- 게시글 작성하면 Board테이블로 들어감 -->
	<insert id="write" parameterType="playwithme.model.BoardDTO">
      INSERT INTO BOARD 
      ( BOARD_NUM   
         , MEMBER_ID   
         , TITLE      
         , B_CONTENT   
         , B_DATE      
         , PLACE      
         , LONGITUDE   
         , LATITUDE   
         , MEET_TIME   
         , NUM_PEOPLE )
      VALUES
      ( seq_board.nextval,
         #{member_Id},
         #{title},
         #{b_Content},
         sysdate,
         #{place},
         #{longitude},
         #{latitude},
         REPLACE(#{meet_Time},':',''),
         #{num_People} )
   </insert>
	<!-- 전체 게시물 읽기 -->
	<select id = "list" resultType="playwithme.model.BoardDTO">
		select board.* , na_member.m_profile,  na_member.m_name, na_member.temper
		from BOARD
		JOIN NA_MEMBER ON BOARD.MEMBER_ID = NA_MEMBER.MEMBER_ID
	
	</select>
	<select id = "oneList" resultType="playwithme.model.BoardDTO" parameterType="String" >
		select board.* , na_member.m_profile,  na_member.m_name, na_member.temper
		from BOARD
		JOIN NA_MEMBER ON BOARD.MEMBER_ID = NA_MEMBER.MEMBER_ID
		where board_Num = #{board_Num} 
	</select>

	<!-- 내 게시물  -->
	<select id = "myList" resultType="playwithme.model.BoardDTO" parameterType="String">
		select * from Board
		where MEMBER_ID = #{member_id}
		order by Board_Num ASC
	</select>
	
	<!-- 지도 위 게시글  -->
	<select id = "meeting" resultType="playwithme.model.BoardDTO">
		select * from Board
	</select>

	<delete id="deleteOne" parameterType="playwithme.model.BoardDTO">
			delete from Board 
			where board_Num = #{board_Num} 
	</delete>
	
	<select id = "fixList" resultType="playwithme.model.BoardDTO"  parameterType="String">
		select * from Board
		where Board_NUM = #{Board_NUM}
	</select>
	<update id="boardup" parameterType="playwithme.model.BoardDTO">
	update BOARD set 
	TITLE = #{title},
	B_CONTENT = #{b_Content},
	MEET_TIME = REPLACE(#{meet_Time},':',''),
	NUM_PEOPLE = #{num_People}
	WHERE BOARD_NUM = #{board_Num}
	
	</update>
	<select id="">
	select board.* , na_member.m_profile
from BOARD
JOIN NA_MEMBER ON BOARD.#{member_ID} = NA_MEMBER#{member_ID};
	
	</select>






</mapper>
