<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>SetFavProgram</servlet-name>
		<display-name>SetFavProgram</display-name>
		<description></description>
		<servlet-class>playwithme.controller.SetFavProgram</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>goChangepPw</servlet-name>
		<display-name>goChangepPw</display-name>
		<description></description>
		<servlet-class>playwithme.controller.goChangepPw</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePwProgram</servlet-name>
		<display-name>ChangePwProgram</display-name>
		<description></description>
		<servlet-class>playwithme.controller.ChangePwProgram</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BoardProgram</servlet-name>
		<display-name>BoardProgram</display-name>
		<description></description>
		<servlet-class>playwithme.controller.BoardProgram</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>goProfile</servlet-name>
		<display-name>goProfile</display-name>
		<description></description>
		<servlet-class>playwithme.controller.goProfile</servlet-class>
	</servlet>
	<servlet>
  	<servlet-name>goMain</servlet-name>
  	<display-name>goMain</display-name>
  	<description></description>
  	<servlet-class>playwithme.goMain</servlet-class>
  </servlet>

	<servlet>
		<servlet-name>goLogin</servlet-name>
		<display-name>goLogin</display-name>
		<description></description>
		<servlet-class>playwithme.controller.goLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>playwithme.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangeImg</servlet-name>
		<display-name>ChangeImg</display-name>
		<description></description>
		<servlet-class>playwithme.controller.ChangeImg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginProgram</servlet-name>
		<display-name>LoginProgram</display-name>
		<description></description>
		<servlet-class>playwithme.controller.LoginProgram</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>goChangeImg</servlet-name>
		<display-name>goChangeImg</display-name>
		<description></description>
		<servlet-class>playwithme.controller.goChangeImg</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>goFavorite</servlet-name>
		<display-name>goFavorite</display-name>
		<description></description>
		<servlet-class>playwithme.controller.goFavorite</servlet-class>
	</servlet>
	
	
	<servlet>
		<servlet-name>ChatRoomTitle</servlet-name>		
		<servlet-class>playwithme.controller.ChatRoomTitle</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ChatGet</servlet-name>
		<servlet-class>playwithme.controller.ChatGet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>goProfile</servlet-name>
		<url-pattern>/goProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>goLogin</servlet-name>
		<url-pattern>/goLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePwProgram</servlet-name>
		<url-pattern>/ChangePwProgram</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginProgram</servlet-name>
		<url-pattern>/LoginProgram</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  	<servlet-name>goMain</servlet-name>
  	<url-pattern>/goMain</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
  	<servlet-name>BoardProgram</servlet-name>
  	<url-pattern>/BoardProgram</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>goChangeImg</servlet-name>
		<url-pattern>/goChangeImg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>goFavorite</servlet-name>
		<url-pattern>/goFavorite</url-pattern>

	</servlet-mapping>
	<servlet-mapping>

		<servlet-name>ChangeImg</servlet-name>
		<url-pattern>/ChangeImg</url-pattern>

	</servlet-mapping>

	<servlet-mapping>

		<servlet-name>goChangepPw</servlet-name>
		<url-pattern>/goChangepPw</url-pattern>
	</servlet-mapping>
	<servlet-mapping>

		<servlet-name>SetFavProgram</servlet-name>
		<url-pattern>/SetFavProgram</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>ChatRoomTitle</servlet-name>
		<url-pattern>/ChatRoomTitle</url-pattern>
	</servlet-mapping>
	
	
		<servlet-mapping>
		<servlet-name>ChatGet</servlet-name>
		<url-pattern>/ChatGet</url-pattern>
	</servlet-mapping>

</web-app>
